#mainDiv {
	width:760px;
	margin:0 auto;
	border:0px solid yellow;
	position:relative;
	overflow:hidden
}

.body-content{
	background-color: #fff;
	padding: 10px;
}

body {
	background-image:url(/images/bg.jpg);
	background-repeat:repeat-x;
	background-color:#000;
	background-position:top left;
	font-family:Verdana, Geneva, sans-serif
}

#my-account-box{
	background: url(/css/rummy.tld/images/join-now-back.png) repeat-y;
	padding-left:25px;
}

#player-coin{
	width:400px;
}

#profile-photo{
	margin-top:0px;
	z-index:1000;
	position:relative;
	padding-right:20px;
	padding-top:10px;
}

.pad-t-20{padding-top:10px;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}

#my-account{width:223px;}

.my-acc-left{width:70px;}

.left {float:left !important;}

p {margin:0 0 1.5em;}

.color-blue{color:#2e5190;}

.clear {clear:both;}

.right {float:right !important;}

strong, dfn {font-weight:bold;}

#bottom-content{
	background-color: #fff;
	padding: 10px;
	margin-left: 2px;
	width:722px;
}